<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-6">
        <div class="card mb-3 p-3">
            <div class="row">
                <div class="col-md-4">
                    <img src=<%=`https://image.tmdb.org/t/p/w500${movie.poster_path}`%> class="card-img-top" alt=<%=`poster for ${movie.title}`%>>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= movie.title %></h5>
                        <p class="card-text"><%=movie.overview %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted"><%=movie.runtime %> minutes</li>
                        <li class="list-group-item text-muted"><%=movie.release_date %></li>
                    </ul>
                    <div class="card-body">
                        <a href="/movies" class="btn btn-info">Movie Search</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="col-6">
        <% if (currentUser.role === "reviewer") { %>
        <h2>Leave a Review</h2>
        <form class="mb-3 validated-form" action="/movies/<%=movie.id%>/reviews" method="POST" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="10" name="movieReview[rating]" id="rating" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="movieReview[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %> <% for (let review of reviews) { %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Rating: <%=review.rating %></h5>
                <h6 class="card-subtitle mb-2 text-muted">By: <%=review.author.username%></h6>
                <p class="card-text">Review: <%=review.body %></p>
                <% if (currentUser.role === "reviewer" && review.author.equals(currentUser._id)){ %>
                <form action="/movies/<%=movie.id%>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                    <button class="btn-sm btn-danger btn">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
